@model ApiProject.WebUI.Dtos.UpdateProduct
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">

    <form method="post">
        <input type="hidden" asp-for="ProductId"/>
        <label>ürün adı</label>
        <input type="text" asp-for="ProductName" class="form-control" />

        <label>ürün fiyatı</label>
        <input type="text" asp-for="ProductPrice" class="form-control" />

        <label>ürün stok</label>
        <input type="text" asp-for="ProductStock" class="form-control" />

        <label>ürün kategori</label>
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })





        <button class="btn btn-success"> ürünü güncelle</button>

    </form>



</div>
